<header [@headerAnimation]="menuState">
  <div class="navbar__container" (mouseover)="menuState = 'show'">
    <div class="navbar__item navbar__search">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <a routerLink="/home"><div class="navbar__item navbar__logo"></div></a>
  </div>
  <div
    class="menu__container"
    [@menuAnimation]="menuState"
    (mouseover)="onMenuContainerMouseOver($event)"
  >
    <ul class="menu__list">
      <li
        class="menu__item"
        *ngFor="let menuItem of manuItems"
        (mouseover)="onMenuItemMouseOver($event, menuItem.name)"
      >
        <div
          class="menu__item-link"
          (click)="onMachinesMenuClicked()"
          [routerLink]="menuItem.path"
        >
          {{ menuItem.label }}
        </div>
      </li>
    </ul>
  </div>

  <div class="menu__page-overlay" *ngIf="activeMenu" (click)="activeMenu = ''">
    <!-- ToDo fix this -->
    <div class="menu__content" *ngIf="activeMenu === 'laundry'" (mouseleave)="activeMenu = ''">
      <app-rooms-menu></app-rooms-menu>
    </div>
    <div class="menu__content" *ngIf="activeMenu === 'machines'" (mouseleave)="activeMenu = ''">
      <app-machines-menu></app-machines-menu>
    </div>
  </div>
</header>
