@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";

header {
  background: $default-background-color;
  position: fixed;
  width: 100%;

  .navbar__container {
    height: $header-height;
    max-width: $page-container-width;
    margin: 0 auto;
    padding: 0 $spacing-xl;

    .navbar__search {
      font-size: $icon-font-size-large;
      color: #fff;
      padding-top: $spacing-lg;
    }

    .navbar__logo {
      width: $header-logo-width-lg;
      height: $header-height;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -($header-logo-width-lg / 2);

      background-image: url("../../../assets/images/logo.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  .menu__container {
    max-width: $page-container-width;
    margin: 0 auto;
    padding: 0 $spacing-xl;

    .menu__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;

      .menu__item {
        display: inline-block;
        color: #fff;
        width: auto;
        margin-right: $spacing-xxl;


      }

      .menu__item:after {
        content: "";
        display: block;
        width: 0;
        height: $spacing-xs;
        background: #8c0014;
      }
      .menu__item:hover:after {
        width: 100%;
      }
    }
  }

  .menu__page-overlay {
    height: 100%;
    width: 100%;
    background: $background-overlay;
    position: fixed;

    .menu__content {
      color: #fff;
      max-width: $page-container-width;
      margin: 0 auto;
      padding: 0 $spacing-xl;
      min-height: 400px;
      background: rgb(31, 31, 31);
    }
  }
}
