@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");
@import './styles/variables.scss';

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1f1f1f;
  margin: 0;
  border: none;
  overflow-x: hidden;
}

.menu__item-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  padding: 16px 0 14px;
  display: inline-block;
  cursor: pointer;
}

.page__container {
  margin: $header-height * 2 auto;
  max-width: $page-container-width;
  padding: 0 $spacing-xl;
}
