@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';

.card__container {
  padding: $spacing-lg;
  margin: $spacing-lg;
  border: 1px solid #cacaca;
  border-radius: 5px;

  &:hover {
    background-color: $light-overlay;
  }

  .card__info  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card__image {
    max-width: $machine-image-width;
  }
}


@media only screen and (max-width: 800px) {
  .card__image {
    width: 50px;
  }
}
