<div class="card__container" *ngIf="machine" (click)="onMachineCardClicked(machine)">
  <img class="card__image" [src]="machine.imageUrl"/>
  <div class="card__info">{{machine.name}}</div>
  <!-- ToDo Directive -->
  <div [innerHTML]="machine.state | stateToIcon"></div>
  <div>{{machine.door}}</div>
</div>
