<div class="menu__machine-container" >
  <div class="menu__machine-card" *ngFor="let machine of machines">
    <app-machine-card [machineId]="machine.id"></app-machine-card>
  </div>

</div>
<div class="menu__item-link" (click)="navigateToMachines()">View all Washing Machines</div>
