@import "../../../styles/colors.scss";

.menu__machine-container {
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;

  .menu__machine-card {
    display: inline-block;
  }

  .menu__item-link:hover {
    color: $light-overlay;
  }
}

.menu__item-link {
  float: right;
}
