// page content
$page-container-width: 1230px;
$header-height: 60px;

// elements
$header-logo-width-lg: 158px;
$header-logo-margin: $header-logo-width-lg / 2;
$machine-image-width: 150px;
$form-width: 500px;
$machine-preview-image-width: 250px;
$icon-font-size-large: 24px;

// spacing
$spacing-xs: 2px;
$spacing-sm: 4px;
$spacing-lg: 16px;
$spacing-xl: 30px;
$spacing-xxl: 60px;


