
@import '../../../styles/variables.scss';

.table__container {
  overflow-x: auto;
  td {
    vertical-align: middle;
  }

  .list__action-container {
    button {
      margin: $spacing-xs;
    }
  }
}

.table__header {
  button {
    margin: $spacing-lg;
  }
}

// hide door column
@media only screen and (max-width: 800px) {
  .table__container{
    table td:nth-child(4),
    table th:nth-child(4) {
      display: none;
    }
  }
}
