<div class="table__header">
  <button [routerLink]="['/washing-machines/new']">
    <i class="fa fa-plus" aria-hidden="true"></i> New
  </button>
</div>
<div class="table__container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">State</th>
        <th scope="col">Door</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let machine of machines | async">
        <td>
          <img [src]="machine.imageUrl" class="mr-2" style="width: 20px;" />
        </td>
        <td>{{ machine.name }}</td>
        <td>
          <div [innerHTML]="machine.state | stateToIcon"></div>
        </td>
        <td>{{ machine.door }}</td>
        <td class="list__action-container">
          <button [routerLink]="['/washing-machines/edit', machine.id]">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button (click)="deleteMachine(machine)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
