@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";

.menu__room-container {
  width: 100%;
  display: flex;

  .room__list-container {
    flex: 0 1 auto;

    .room__list {
      list-style: none;
      padding: $spacing-sm;
      border-right: 1px solid $light-overlay;
      min-width: 300px;
      height: 100%;

      .room__list-item {
        padding: $spacing-lg;
        display: table;
        cursor: pointer;
      }

      .room__list-item--selected {
        font-weight: 600;
      }
    }
  }

  .room__details-container {
    flex: 4 1 auto;
    display: flex;
  }
}
