<div class="menu__room-container">
  <div class="room__list-container">
    <ul class="room__list">
      <li
        (mouseover)="onRoomMouseOver(room)"
        class="room__list-item"
        *ngFor="let room of laundryRooms"
        [routerLink]="'/laundry-rooms/' + room.id"
      >
        <span
          [ngClass]="{
            'room__list-item--selected': activeRoom && room.id === activeRoom.id
          }"
          >{{ room.name }}</span
        >
      </li>
    </ul>
  </div>
  <div class="room__details-container" *ngIf="activeRoom">
    <div *ngFor="let machineId of activeRoom.machines">
      <app-machine-card [machineId]="machineId"></app-machine-card>
    </div>
  </div>
</div>
