<div class="page__container">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="machineForm"
    class="form__container"
  >
    <div class="form__image-container" *ngIf="machine">
      <img
        class="form__image"
        *ngIf="machine.imageUrl"
        [src]="machine.imageUrl"
      />
      <input
        #imageInput
        type="file"
        accept="image/*"
        type="file"
        class="custom-file-input"
        id="customFile"
        (change)="processFile(imageInput)"
      />
    </div>

    <div class="form__fields">
      <div class="form__group form-group">
        <label for="name">Name*</label>
        <input
          class="form-control"
          [ngClass]="{
            'form__control--invalid': machineForm.get('name').touched && !machineForm.get('name').valid
          }"
          type="text"
          id="name"
          formControlName="name"
        />
      </div>
      <div class="form__group form-group">
        <label for="sn">Serial number*</label>
        <input
          class="form-control"
          [ngClass]="{
            'form__control--invalid': machineForm.get('sn').touched && !machineForm.get('sn').valid
          }"
          type="text"
          id="sn"
          formControlName="sn"
        />
      </div>
      <div class="form__group form-group">
        <label for="technicalName">Technical Name</label>
        <input
          class="form-control"
          type="text"
          id="technicalName"
          formControlName="technicalName"
        />
      </div>
      <div class="form__group form-group">
        <label for="state">State</label>
        <select class="form-control" id="state" formControlName="state">
          <option
            *ngFor="let state of ['OFF', 'OFFLINE', 'STANDBY', 'ACTIVE']"
            [value]="state"
            >{{ state }}</option
          >
        </select>
      </div>
      <div class="form__group form-group">
        <label for="door">Door</label>

        <input
          class="form-control"
          type="text"
          id="door"
          formControlName="door"
        />
      </div>

      <div class="form__actions">
        <button type="button" class="btn btn-light" (click)="onCancelClicked()" >Cancel</button>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!machineForm.valid"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
