@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";



  .form__image-container {
    .form__image {
      width: $machine-preview-image-width;
    }

    .form__image-upload {
      height: 100%;
    }
  }

  .form__container {
    margin: auto;
    text-align: center;
    display: flex;
    padding-top: $spacing-xxl;

    .form__image-container,
    .form__fields {
      flex: 1 1 auto;

      label {
        float: left;
      }
    }

    .form__control--invalid {
      border: 1px solid #f00;
    }

    .form__actions {
      float: right;

      button {
        margin: 0 0 0 $spacing-lg;
      }
    }
  }


.custom-file-input {
  color: transparent;
  margin: auto;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: "Select image";
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  cursor: pointer;
  text-shadow: 1px 1px $default-background-color;
  display: flex;
  width: fit-content;
  margin: $spacing-lg auto;
}
.custom-file-input:hover::before {
  border-color: black;
}
