<!-- <img src="https://www.miele-philippines.com/wp-content/uploads/2019/10/W1T1_Header.png"/> -->

<img src="./assets/images/laundry.jpg" />
<div class="page__container">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet magna
    lobortis, mattis tellus ut, laoreet ipsum. Quisque luctus velit quis lorem
    mattis bibendum. Nulla augue mi, lobortis in ipsum volutpat, finibus
    porttitor turpis. Sed a nulla lobortis, placerat magna quis, hendrerit ex.
    Nunc scelerisque sed leo nec tincidunt. Praesent gravida eu neque eu
    interdum. Quisque erat magna, rutrum vel pretium id, efficitur sit amet
    tellus. Quisque et dolor quam. Morbi ex quam, dapibus ac ornare vitae,
    ultrices bibendum tellus. In ullamcorper lectus et libero ultricies, in
    auctor elit ultricies. Donec lacinia posuere orci id vulputate. Suspendisse
    fringilla turpis in odio tincidunt, elementum finibus quam ornare. Praesent
    sem nunc, maximus vehicula ullamcorper ac, luctus volutpat nibh. Maecenas
    eget odio ullamcorper, tempus orci varius, tristique risus. Mauris ac
    pulvinar ipsum, vel fringilla tortor.
  </p>
  <p>
    Curabitur hendrerit scelerisque mauris. Proin at nisi id ex ultricies
    gravida non et augue. Mauris laoreet libero nulla, sit amet pharetra mi
    blandit et. Proin arcu est, malesuada non nibh eu, aliquet tristique ipsum.
    Suspendisse iaculis sed leo et interdum. Pellentesque mauris nisi, suscipit
    in eleifend sit amet, tincidunt et lacus. Curabitur placerat bibendum
    ultrices. Donec venenatis gravida massa, nec rutrum sem sagittis at. Nulla
    non rhoncus arcu. Nam et urna fermentum, fringilla justo eu, pulvinar
    ligula. Donec lobortis suscipit velit, auctor aliquet mauris tristique id.
    Quisque a sem vitae eros egestas lacinia ut vel nisl. Praesent fermentum
    tempor velit vitae iaculis. Proin a risus vel elit euismod efficitur. Duis
    pretium, ex eget mollis suscipit, nulla nulla tempus nibh, vitae ullamcorper
    enim est ut massa. Duis vel suscipit eros, et aliquet massa. Duis ac turpis
    odio. In cursus magna vitae nibh luctus, auctor consectetur magna tempor.
    Nunc sapien risus, tristique ac ipsum non, ornare blandit augue. In sed
    dictum risus. Vivamus fermentum orci felis, ac ullamcorper quam cursus sed.
    Donec facilisis tincidunt justo non tincidunt. Integer non neque iaculis,
    ullamcorper est sit amet, ullamcorper urna.
  </p>
  <p>
    Donec nec quam at sem lobortis dictum. Phasellus ornare tortor nec suscipit
    rhoncus. Nunc sagittis erat tellus, ac rutrum sem viverra ac. Donec at
    commodo dolor, sed vestibulum lectus. Donec sem lacus, suscipit nec nunc
    quis, faucibus mattis nisl. Nullam laoreet gravida tincidunt. Integer
    lacinia, velit a dapibus molestie, lectus ex sodales nunc, quis ullamcorper
    odio urna sed metus. Vestibulum pellentesque ex ut nisi rhoncus semper.
    Proin ut vestibulum est. Maecenas sodales, ligula ac fermentum viverra, enim
    mi sollicitudin elit, vitae imperdiet tellus turpis quis lectus.
  </p>
  <p>
    Suspendisse potenti. Nullam vestibulum, est in volutpat sodales, lacus urna
    euismod leo, nec consectetur dolor dui in tortor. Phasellus rhoncus mauris
    ac sapien interdum, in tristique leo tempus. Aliquam sapien mi, convallis
    euismod ultrices in, fringilla sit amet mi. Aenean ac egestas velit.
    Pellentesque luctus arcu sapien, sed scelerisque augue dignissim a. Aliquam
    commodo vitae lacus et commodo. Nullam eget pulvinar tellus. Suspendisse
    vulputate, orci sit amet eleifend rhoncus, mauris purus lobortis ligula, nec
    feugiat metus elit at ligula.
  </p>
</div>
